extends layout

block content
  #app
    h3 Generate wordforms
    
    div.alert.alert-danger(v-show="error") {{ error ? error.response.data : '' }}
    
    //- Form
    div.form-group.row
      label.col-2.col-form-label.font-weight-bold Lemma
      label.col-10.col-form-label {{ lexeme ? lexeme.lemma : '…' }}
    div.form-group.row
      label.col-2.col-form-label.font-weight-bold Paradigm
      div.col-10
        select.form-control(v-model="paradigm",v-on:change="tested = false")
          option(value="")
          option(value="noun") Noun
          option(value="adjective") Adjective
          option(value="loan-verb") Loan verb
    div.form-group.row
      div.offset-2.col-10
        button.btn.btn-primary(v-on:click="generateWordforms")
          +icon('check', 'Test')
        button.btn.btn-success(v-bind:disabled="!tested",v-on:click="commitWordforms")
          +icon('save', 'Commit')
        button.btn.btn-light.border(v-on:click="cancel")
          | Cancel
        //- Loader
        i.btn.fas.fa-circle-notch.fa-2x.fa-spin.text-danger(v-show="working")
    
    //- Wordforms
    div.w-100.overflow-auto.small
      table.table.table-sm.table-hover
        thead
          tr
            th(v-for="field,ix in wordformFields", v-bind:key="ix").text-nowrap
              | {{ field }}
        tbody
          tr(v-for="wf, ix in wordforms", v-bind:key="ix")
            td.overflow-auto.text-truncate(v-for="field,ix in wordformFields", v-bind:key="ix", v-bind:class="{ 'font-weight-bold': field === 'surface_form' }")
              | {{ JSON.stringify(wf[field]) }}
    
  +vue()
  script(src=baseURL+"/javascripts/generate.js")
