extends layout

block content
  style.
    .affix {
      top: 8px;
      right: 10px;
      z-index: 10000;
    }
    .wf_container pre {
      background-color: #fff;
    }

  h3 Results: 
    span.label.label-default#result-count &hellip;
    button.btn.btn-default.btn-sm#btn-toggle-wf(data-spy="affix",data-offset-top="30") Toggle wordforms
  div#results
  div.text-center
    button.btn.btn-primary#btn-load-results Load more results
    +loader('results')

  script.
    var globals = {
      query: !{JSON.stringify(query)}
    }
    globals.query['page'] = 1 // next page
  script(src='#{baseURL}/javascripts/json-pretty.js',defer)
  script(src="#{baseURL}/javascripts/search.js")
