.json {}
.json .json-object {}
.json .json-row {}
.json .json-key {
  color: #aaa;
}
.json .json-colon {
  padding: 5px;
  color: #aaa;
}
.json .json-value {
  display: inline-block;
  vertical-align: top;
  color: #333;
}
.json .json-null {
  color: #aaa;
  font-style: italic;
}
