.text-red {
  color: firebrick!important;
}

h1 small,
h2 small,
h3 small {
  /* color: #6c757d!important; /* text-muted */
  color: rgba(0,0,0,.4)!important;
}

blockquote {
  border-left: 2px solid #dee2e6;
  padding: .5em 1em;
}

blockquote p {
  margin: 0;
}

.text-pre-wrap {
  white-space: pre-wrap;
}
th {
  background: #f8f9fa!important;
}
.btn-xs {
  padding: .1rem .2rem;
  font-size: .75rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.font-size-100 {
  font-size: 100%;
}
