name: Run tests
on:
  push:
    branches-ignore:
      - production
jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16, 18, 20, 22, 24]
        mongodb-version: [4.0, 4.2, 4.4, 8]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install
      run: npm ci

    - name: Create server-config.js
      run: mv server-config.test.js server-config.js

    - name: Start MongoDB
      uses: superchargejs/mongodb-github-action@1.12.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}

    - name: Populate database
      run: node scripts/node/populate.js test/data/*.json && node scripts/node/resolve-lexeme-ids.js

    - name: Creating indexes
      run: node scripts/node/create-indexes.js

    - name: Build glosses collection
      run: cd scripts/node && ./run.js update-glosses-collection.js

    - name: Run tests
      run: npm test
